/*/* Created by TopStyle Trial - www.topstyle4.com */

.navigation 
{
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}
ul.navigation 
{
	float: left;
}
ul.navigation li 
{
 	margin: 0 auto;
	float: left;
	padding-right: 5px;
	position: relative;
}
ul.navigation li a
{
	font-size: small;
	color: #ffa500;
	display: block;
	text-decoration: none;	
	
}
ul.navigation li a:hover
{
	background: #FFFFFF;
}

ul.navigation li ul.submenu, ul.navigation li ul.submenu1, ul.navigation li ul.submenu2, ul.navigation li ul.submenu3
{
	list-style: none;
	margin: 0; 
	padding: 0;
	position: absolute;
	left: 0; 
	top: 20px;
	background: white;
	display: none;
	border: 1px solid #808080;
	z-index: 999999999;
}
ul.navigation li ul.submenu li, ul.navigation li ul.submenu1 li, ul.navigation li ul.submenu2 li, ul.navigation li ul.submenu3 li
{
	margin: 0 auto; 
	padding: 0;
	border-bottom: none;
	font-style: normal;
	font-size: x-small;
	width: 100%;
}
ul.navigation li ul.submenu li a , ul.navigation li ul.submenu2 li a
{
	width: 170px;
	background: white;
	float: left;
	color:#ffa500;
}
ul.navigation li ul.submenu li a:hover, ul.navigation li ul.submenu1 li a:hover, ul.navigation li ul.submenu2 li a:hover, ul.navigation li ul.submenu3 li a:hover
{ 
	background:  #ffa500;
	color: white;
	font-weight: bold;
}


ul.navigation li ul.submenu li a:hover
{
	background:  #ffa500;
	color: white;
	font-weight: bold;
}

ul.submenu li a
{
	font-size: 14px;
	font-style: normal;
	
}

ul.navigation li ul.submenu3 li a
{
	width: 100px;
	background: white;
	float: left;
	color:#ffa500;
}

ul.navigation li ul.submenu1 li a
{
	width: 250px;
	background: white;
	float: left;
	color:#ffa500;
	
	
}
